{% load static %}

<div class="border-top border-warning mt-5 footerDiv sticky-bottom">
    <div class="row">
        <div class="col-sm-4 text-center text-justify">
            <p><span style="font-size:1.2rem;" class="text-warning">About Us</span></p>
            <p>has started in 2014 with the aim of making the construction and renovation experience and trustful with our research and experience. Book Property offers best real estate deals on plot</p>
        </div>

        <div class="col-sm-4 text-center mt-5">
<!--            <a href="#" target="_blank">-->
<!--                <i class="fab fa-twitter i-color mr-3"></i>-->
<!--            </a>-->
<!--            <a href="#" target="_blank">-->
<!--                <i class="fab fa-facebook i-color mr-3"></i>-->
<!--            </a>-->
<!--            <a href="#" target="_blank">-->
<!--                <i class="fab fa-instagram i-color mr-3"></i>-->
<!--            </a>-->
        </div>

        <div class="col-sm-4 text-center">
            <p ><span style="font-size:1.2rem;" class="text-warning">Contact Us</span></p>
            <p><span class="text-warning">Address :</span> 282 /105 ,2nd Flr,</br> 19th Main Rd, 1st Block,</br> Rajajinagar, Bengaluru,</br> Karnataka 560010</p>
        </div>
    </div>
</div>