{% extends 'core/base.html' %}
{% load static %}
{% block title %} Aminities {% endblock title%}

{% block content %}

<div class="container containerColor my-5">
      {% if mesg %}
            <div class="text-center  ">
                <h2 class="text-warning text-center" >{{mesg}}</h2>
            </div>
      {% else %}

      <div class="row">
          {% for ami in aminities %}

             <div class="col-sm-12 text-center mb-4 ">
                 <h2>{{ami.amenity_name}}</h2>
                  <a href="" class="btn">
                      <div class="item">
                          <img src="{{ ami.amenity_image.url}}" alt="" height="300">
                          <div class="fw-bold">{{ami.amenity_name}}</div>
                          <div class="fw-bold border-bottom">{{ami.amenity_description}}  </div>

                      </div>
                  </a>

             </div>
          {% endfor %}
      </div>
    {% endif %}
</div>

{% endblock content %}